@model Demiady.TransferEmp

@{
    ViewBag.Title = "ازالة بيانات توريد";
}

<h2>ازالة بيانات توريدات</h2>

<h3>هل انت متاكد من ازالة هذا التوريد</h3>
<div>

    <hr />
    <table class="table table-bordered table-striped text-center">
        <tr>
            <th class="text-center">
                @Html.DisplayName("اسم العامل")
            </th>
            <th class="text-center">
                @Html.DisplayName("قيمة التوريد")
            </th>
            <th class="text-center">
                @Html.DisplayName("التاريخ")
            </th>

        </tr>


        <tr>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Employee.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Date)
            </td>


        </tr>


    </table>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="ازالة " class="btn btn-danger btn-lg" /> |
            @Html.ActionLink("الرجوع لقائمة العمال", "Index")
        </div>
    }
</div>
