@model Demiady.Retainer

@{
    ViewBag.Title = "حذف بيانات عربون";
}

<h2>حذف بيانات عربون</h2>

<h3>هل انت متاكد من ازالة هذه البيانات</h3>
<div>
    <hr />
    <table class="table table-bordered table-striped text-center">
        <tr>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Ret_Date)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Client_Name)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Client_Phone)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Product.Prod_Name)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Prod_Price)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Prod_Count)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Ret_Value)
            </th>
            <th class="text-center">
                الباقي
            </th>


            <th class="text-center">التحكم</th>
        </tr>


        <tr>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Ret_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Client_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Client_Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Product.Prod_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Prod_Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Prod_Count)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Ret_Value)
            </td>
            <td>
                @{ var reuslt = Model.Prod_Price - Model.Ret_Value;}

                @reuslt
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Due_date)
            </td>


        </tr>


    </table>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="ازالة " class="btn btn-danger btn-lg" /> |
            @Html.ActionLink("الرجوع لقائمة العرابين", "Index")
        </div>
    }
</div>

